NEXT_PUBLIC_SITE_URL=https://guava-campo.netlify.app

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCUoKKDzeu4jXQM7I45YHHwJYmA-D2L8Fo
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=guava-campo.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=guava-campo
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=guava-campo.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=642543830175
NEXT_PUBLIC_FIREBASE_APP_ID=1:642543830175:web:608c749c5a590878a7ceaa
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-BY4FZP7XX4
